body {
    height: 100%;
}

#header {
    padding: 10px;
    border: 2px solid #daf19f;
    background-color: #f3e07b;
    color: green;
    height: 120px;
}

#mapContainer {
    height: 100%;
    padding: 20px;
    border: 2px solid #CCC;
    margin-bottom: 20px;
    background-color: #FFF;
}

#map-canvas {
    height: 650px;
}

#format {
    margin-top: 2em;
}

#search-field {
    color: black;
}

button {
    margin: 0;
    padding: 0;
    height: 40px;
    width: 100%;
    vertical-align: middle;
}
